/* 
 * 后台主题移植自 https://github.com/mashirozx/sakura
 * 下游分支 https://github.com/KJZH001/Moe-kratos-pjax
 * 将 樱花庄 主题 移植到 moe-kratos-pjax
 * by 晓空 2025.11.21
 */

body {
	/* 
	 * 这张背景图片的副本位于仓库的 /static/images/FLOWER.jpg 
	 * css里也没有很方便能动态定位主题目录的办法，所以这里写死了静态地址
	 * 你也可以把它改到自己的站点去来加快速度
	 */
    background-image: url(https://blog.moeworld.tech/wp-content/themes/kratos-pjax-master/static/images/FLOWER.jpg) !important;
	/* 
	 * 下面的是上游的原始URL，也可以使用
	 * 但是速度比较玄学，有些时候也比较容易抽风w
	 * 用哪个自己开心就好，留一个就行
	 */
    /* background-image: url(https://view.moezx.cc/images/2018/01/29/FLOWER.jpg) !important; */
}

#adminmenu, #adminmenuback, #adminmenuwrap {
    background: #e5e5e590 !important;
}

#wpadminbar {
    background: #e5e5e5 !important;
}

#adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu .wp-has-current-submenu.opensub .wp-submenu, #adminmenu .wp-submenu, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu {
    background: #ffffff90 !important;
}

.wp-submenu-wrap {
	background: #ffffff99 !important;
}

.postbox {
    min-width: 255px;
    border: 1px solid #e5e5e5;
    background: #ffffff90 !important;
}

#contextual-help-link-wrap, #screen-options-link-wrap {
    background: #e5e5e5 !important;
}

table {
	background: #ffffff90 !important;
}

tr {
	background-color: #ffffff00 !important;
}

#screen-meta {
	background-color: #ffffff90 !important;
}

.notice, div.error, div.updated {
    background: #ffffff90;
}

#dolly {
	background: rgba(255,255,255,.7);
	border-left: 4px solid #fff;
    border-left-color: rgb(255, 255, 255);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	border-left-color: #888;
	font-size: 13px;
	padding: 6px;
	padding-right: 15px;
	padding-top: 5px;
	float: none !important;
	width: calc(100% - 46px);
}

#adminmenu a, #adminmenu .wp-submenu .wp-submenu-head, #adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head, #adminmenu .wp-menu-arrow, #adminmenu .wp-menu-arrow div, #adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, .folded #adminmenu li.current.menu-top, .folded #adminmenu li.wp-has-current-submenu {
    color: #333;
}

.gadwp-pline a {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: absolute;
	width: 80%;
}

.wp-submenu .wp-submenu-wrap {
	background: #ffffff !important;
}